<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
</head>
<body>
<h2>Course List</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.courseId}"></td>
        <td th:text="${course.courseName}"></td>
        <td>
            <a th:href="@{'/courses/' + ${course.courseId}}">Details</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>