<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>

<body>
    <h2>All Courses</h2>
    <table border="1">
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Teacher</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td th:text="${course.courseId}"></td>
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.teacher}"></td>
        </tr>
    </table>
</body>
</html>